
</div>
<div class="footer-padding"></div>
  <div class="footer">
   <h2 class="compose"> <a class="composer" href="/compose" >COMPOSE VLOG</a> </h2>
    <p>Made by anurag badoni</p>
  </div>
</div>
</body>
</html>
