<%- include('partials/header'); -%>
<h1>compose</h1>
<form method="post" action="/compose">

<h4>Title</h4>
<input class="title" type="text" name="title"></input>
<h4>blog</h4>
<textarea class="blog" type="text" name="blog"></textarea>
<br>
<button class="btn" type="submit" name="button"> publish</button>
</form>

<%- include('partials/footer'); -%>